---
import Page from './home/index.page'
import Layout from '@/layouts/Layout.astro'

const tdk = {
  title: 'title',
  description: 'description',
  keywords: 'keywords',
}
---

<Layout tdk={tdk}>
  <main>
    <Page client:visible />
  </main>
</Layout>
