---
import Layout from '@/layouts/Layout.astro'

const tdk = {
  title: 'title',
  description: 'description',
  keywords: 'keywords',
}
---

<Layout tdk={tdk}>
  <main>
    <article class='w-full flex items-start flex-col justify-center'>
      <div class='container-bg'>
        <section class='absolute top-[265px] right-[37px]'>
          <h1 class='text'>
            未找到您要访问的页面<br />
            请核对您输入的地址是否正确哦
          </h1>
          <a href='/' class='back-btn'>返回首页</a>
        </section>
      </div>
    </article>
  </main>
</Layout>

<style>
  .container-bg {
    background: url(./images/404_bg.png) no-repeat;
    background-size: 100% 100%;
    width: 1507px;
    height: 698px;
    position: relative;
  }

  .text {
    font-size: 24px;
    font-weight: 200;
    color: #ffffff;
    line-height: 44px;
  }

  .back-btn {
    margin-top: 40px;
    display: block;
    width: 138px;
    height: 48px;
    background: #2969ff;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    line-height: 48px;
    text-align: center;
  }
</style>
