html,
body {
  background: #fff;
  height: auto;
  min-height: 100vh;
  margin: 0;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  -webkit-text-fill-color: #fff !important;
  transition: background-color 9999s ease-in-out 9999s !important;
}
i {
  display: inline-block;
}
input {
  outline: none;
  padding: 0;
  border: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

button {
  outline: none;
}

[hidden] {
  display: none !important;
}
